<!DOCTYPE html>
<meta  http-equiv="content-Type" content="text/html"; charset="gb2312" >
<html>
<head>
<script src="c:/Users/Administrator/Desktop/test/jquery/jquery-1.7.1-min.js">
</script>
<script src="c:/Users/Administrator/Desktop/test/jquery/test.js">
</script>
<script src="c:/Users/Administrator/Desktop/test/jquery/layer-min.js">
</script>
<script src="c:/Users/Administrator/Desktop/test/jquery/layer.js">
</script>
<link rel="stylesheet" type="text/css" href="c:/Users/Administrator/Desktop/test/CSS/main.css">
</head>
<title>仲景的官方网站</title>
<body>
<div class="bth-outest">
 <div class="bth-out0">
   <a href="#" class="top" id="wangling">仲景的官方网站</a>
  <ul>
   <li><a href="c:/Users/Administrator/Desktop/test/view/meadio.html" class="top">视频相册</a></li>
   <li><a href="#" class="top">心情日记</a></li>
   <li><a href="#" class="top">Python空间</a></li>
   <li><a href="#" class="top">Javascript</a></li>
   <li><a href="#" class="top">Happy</a></li>
   <li><a href="c:/Users/Administrator/Desktop/test/view/test.html" class="top">365度旋转回到主页</a><li>
  </ul>
 </div>
</div>
<div class="bth-next1">
 <div class="left">
  <ul>
   <p class="aleft">既然你已经进来了。。</p><br />
   <p class="aleft">我就偷偷地告诉你：</p>
   <font color="rgb(229, 74, 151)" size="3">有蔬菜的静物画 <br>和注视它的你 <br>那么地静。 <br><br>那静物画中的种种色彩 <br>以其自身存在的强度 <br>震颤。 <br>假如没有光 <br>它们又能怎样？ <br><br>陌生人，我喜欢你 <br>如此静静地站立 <br>在你携带着的 <br>光的强度里。</font>
  </ul>
 </div>
</div>
<div class="bth-next3">
 <object classid="CLSID:6BF52A52-394A-11d3-B153-00C04F79FAA6" width="1000" height="800"><param name="autostart" value="0" /><param name="url" value="c:/Users/Administrator/Desktop/test/mv/love.mpg" /><embed src="c:/Users/Administrator/Desktop/test/mv/love.mpg" autostart="0" type="video/x-ms-wmv" width="1000" height="800"></embed></object>
</div>
</body>
</html>
