<!DOCTYPE html>
<meta  http-equiv="content-Type" content="text/html"; charset="utf-8" >
<html>
<head>
<script src="{{url_for('static', filename='js/jquery.min.js')}}">
</script>
<script src="{{url_for('static', filename='js/test.js')}}">
</script>
<script src="{{url_for('static', filename='js/layer-min.js')}}">
</script>
<script src="{{url_for('static', filename='js/layer.js')}}">
</script>
<script src="{{url_for('static', filename='js/bootstrap.min.js')}}">
</script>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='CSS/movie.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='CSS/bootstrap.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='CSS/bootstrap.min.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='CSS/bootstrap-theme.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='CSS/bootstrap-theme.min.css')}}">
</head>
<title>惬意嗨go</title>
<body>
<div class="bth-outest">
  <div class="bth-out0">
   <a href="{{url_for('home')}}" class="top" id="logo">嗨go社区</a>
  </div>
  <div>
  <ul>
   <li><a href="{{url_for('movie')}}" class="top">惬意电影</a></li>
   <li><a href="#" class="top">惬意音乐</a></li>
   <li><a href="#" class="top">惬意IT</a></li>
   <li><a href="#" class="top">惬意篮球</a></li>
   <li><a href="#" class="top">嗨go产品</a></li>
  </ul>
 </div>
</div>
<div class="bth-next1">
 <div class="left">
  <ul>
   <p class="aleft"></p><br/>
   <p class="aleft">.....：</p>
  </ul>
 </div>
</div>
<div class="bth-next2">
     <font calss="maintext" color="#1D6040" size="6"></font>
</div>
</body>
</html>